/* CSS RESET */
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
a {
    color: inherit;
}
/* CSS RESET END */

body {
    font-family: Arial, Helvetica, sans-serif, system-ui;
    min-height: 100vh;
    display: grid;
    grid-template-areas: 
        "sidebar header header"
        "sidebar nav nav"
        "sidebar article aside"
        "footer footer footer";
    grid-template-columns: min-content 1fr clamp(200px, 20vw, 300px);
    grid-template-rows: 50px 50px 1fr 50px;
}

.sidebar {
    background-color: red;
    padding: 20px;
    grid-area: sidebar;
    color: white;
    font-weight: bold;
    display: grid;
    grid-template-rows: repeat(12, min-content);
    grid-auto-flow: column;
    grid-auto-columns: min-content;
    align-items: center;
    gap: 20px;

    .gap {
        height: 20px;
    }

    a:has(> .logoIcon) {
        width: 50px;
        height: 50px;
    }

    a > .logoIcon {
        height: 100%;
        width: 100%;
    }

    .logo {
        font-size: 20px;
    }

    & a:has(> img) {
        justify-self: center;
        height: 30px;
        width: 30px;
    }

    & a > img {
        height: 100%;
        width: 100%;
    }
}

header {
    grid-area: header;
    background-color: orange;
}

nav {
    grid-area: nav;
    background-color: yellow;
}

article {
    grid-area: article;
    background-color: green;
}

aside {
    grid-area: aside;
    background-color: blue;
}

footer {
    grid-area: footer;
    background-color: indigo;
}

@media (max-width:600px) {
    .sidebar {
        grid-template-columns: min-content;
        column-gap: 0;
        padding: 20px 5px;
    }
    a:not(:has(img)) {
        display: none;
    }
}